<% content_for :title, "Prenez en main vos apprentissages" %>

<div class="row">
  <div class="offset-md-3 col-md-6">
    <h2 class="quote">
      L'Approche par Compétences (APC) fait évoluer la façon d'enseigner et d'évaluer la progression des apprenants. Ars&nbsp;Praxis est une plateforme Open Source permettant l'évaluation par portfolio de traces, dans le cadre de l'APC.
    </h2>
  </div>
</div>

<hr class="mt-5">

<h3 class="mt-5 text-center">Ars&nbsp;Praxis pour...</h3>

<div class="row mt-5">
  <div class="col-md-3">
    <h4>... les apprenants</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
  <div class="col-md-3">
    <h4>... les enseignants</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
  <div class="col-md-3">
    <h4>... la communauté universitaire</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
  <div class="col-md-3">
    <h4>... les développeurs</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
</div>

<hr class="mt-5">

<h3 class="mt-5 text-center">Pour en savoir plus...</h3>

<div class="row mt-5">
  <div class="offset-md-1 col-md-2">
    <%= link_to 'https://www.deboecksuperieur.com/ouvrage/9782807307858-organiser-la-formation-partir-des-competences', target: :_blank do %>
      <%= image_tag 'dashboard/9782807307858-g.jpg', class: 'img-fluid' %>
    <% end %>
    <div class="small mt-1">
      Marianne Poumay, <br/>
      Jacques Tardif, <br/>
      François Georges
    </div>
  </div>
  <div class="col-md-6">
    <h4>Organiser la formation à partir des compétences</h4>
    <p><b>Un pari gagnant pour l'apprentissage dans le supérieur</b></p>
    <p>À travers des cas choisis, l’ouvrage illustre des avancées conceptuelles et opérationnelles, mais aussi des constats, doutes et ouvertures dans la mise en œuvre de programmes axés sur le développement de compétences dans l’enseignement supérieur et la formation d’adultes.</p>
    <p>Confrontées aux défis et aux enjeux de la conception d’un programme axé sur le développement de compétences, les équipes d’enseignants s’interrogent sur les traductions et les transpositions possibles de cette logique de formation dans leurs activités d’apprentissage et d’évaluation. Cet ouvrage fournit des réponses à partir d’un cadre de référence précis, traduit dans des propositions méthodologiques et expérimenté dans onze cas concrets, mettant en exergue des choix pédagogiques et explicitant des démarches d’élaboration, d’implémentation et de régulation.</p>
    <p>Ce cadre puissant génère des programmes ambitieux qui offrent de façon régulière aux apprenants de se confronter à la complexité de « savoir-agir » tout au long de leur parcours d’apprentissage, et ce, jusque dans l’évaluation finale. Ce cadre est loin des clichés qui associent l’approche par compétences à la maîtrise de procédures, à l’appropriation minimaliste de connaissances, au formatage de futurs professionnels selon les besoins actuels des marchés ou à une vision mécaniste de l’élaboration des programmes.</p>
    <p>Des onze cas, les directeurs de l’ouvrage retirent treize leviers de gouvernance et d’innovation pédagogiques qui ont contribué à la réussite de la réforme des cursus en question.</p>
    <p>L’ouvrage se veut à la fois conceptuel et concret. En annexe, il propose de larges extraits d’une douzaine de référentiels de compétences, mais aussi des grilles, exemples, consignes, étapes, principes, guides et échelles diverses. Ces éléments sont de nature à inspirer les équipes d’enseignants qui souhaitent intégrer le maximum de sens et de cohérence dans leurs programmes, au bénéfice des institutions… et surtout des étudiants et de leur parcours.</p>
  </div>
</div>
<hr class="mt-5">
<h3 class="mt-5 text-center">Partenaires</h3>
<div class="row mt-5">
  <div class="col-6 col-md-2">
    <%= link_to 'https://www.u-bordeaux-montaigne.fr', target: :_blank do %>
      <%= image_tag 'dashboard/Universite_bordeaux-montaigne_2014_logo.png', class: 'img-fluid img-bw' %>
    <% end %>
  </div>
  <div class="col-6 offset-md-1 col-md-2">
    <%= link_to 'https://www.mmibordeaux.com', target: :_blank do %>
      <%= image_tag 'dashboard/mmi-bordeaux.png', class: 'img-fluid img-bw' %>
    <% end %>
  </div>
  <div class="col-6 offset-md-1 col-md-2">
    <%= link_to 'https://mica.u-bordeaux-montaigne.fr', target: :_blank do %>
      <%= image_tag 'dashboard/mica.png', class: 'img-fluid img-bw' %>
    <% end %>
  </div>
  <div class="col-6 offset-md-1 col-md-2">
    <%= link_to 'http://www.labset.ulg.ac.be/', target: :_blank do %>
      <%= image_tag 'dashboard/labset.png', class: 'img-fluid img-bw' %>
    <% end %>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6 col-md-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
  <div class="col-6 col-md-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
  <div class="col-6 col-md-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
  <div class="col-6 col-md-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum tortor a enim hendrerit cursus. Nulla fermentum, metus nec scelerisque tristique, ex velit consequat urna, eget consectetur nibh lacus ut nibh. Ut dolor justo, laoreet quis rutrum ut, vehicula ac eros. Phasellus eget est nec purus cursus dignissim vitae et augue.</p>
  </div>
</div>
