<%= content_for :title, 'Etudiants' %>

<table class="table">
  <thead>
    <tr>
      <th>Formation</th>
      <th>Promotion</th>
      <th>Confirmée</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.group.program %></td>
        <td><%= student.group %></td>
        <td><%= student.confirmed %></td>
        <td>
          <%= show_button [@user, student] %>
          <%= edit_button [@user, student] %>
          <%= destroy_button [@user, student] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_student, new_user_student_path(@user) %>
