<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_student.user %>
</p>

<p>
  <strong>Program group:</strong>
  <%= @user_student.program_group %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @user_student.confirmed %>
</p>

<%= link_to 'Edit', edit_user_student_path(@user_student) %> |
<%= link_to 'Back', user_students_path %>
