<%= simple_form_for critical_learning,
                    url:  critical_learning.new_record? ?
                            referential_critical_learnings_path(@referential)
                            : referential_critical_learning_path(@referential, critical_learning) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <%= f.input :number %>
        </div>
        <div class="col-md-8">
          <%= f.association :level,
                            label: 'Niveau',
                            collection: @competency.levels,
                            include_blank: false %>
        </div>
      </div>
      <%= f.association :competency,
                        label: 'Compétence',
                        collection: @referential.competencies,
                        include_blank: false %>
    </div>
    <div class="col-md-6">
      <%= f.input :description,
                  input_html: { rows: 8 } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.input :not_reached,
                  label: 'Non atteint',
                  input_html: { rows: 5 } %>
    </div>
    <div class="col-md-3">
      <%= f.input :partially_reached,
                  label: 'Partiellement atteint',
                  input_html: { rows: 5 } %>
    </div>
    <div class="col-md-3">
      <%= f.input :reached,
                  label: 'Atteint',
                  input_html: { rows: 5 } %>
    </div>
    <div class="col-md-3">
      <%= f.input :over_reached,
                  label: 'Dépassé',
                  input_html: { rows: 5 } %>
    </div>
  </div>
  <%= save_button f %>
  <%= destroy_button [@referential, critical_learning] %>
<% end %>
