<%= content_for :title, 'Apprentissages critiques' %>

<table class="table">
  <thead>
    <tr>
      <th>Compétence</th>
      <th>Niveau</th>
      <th>Description</th>
      <th>Numéro</th>
      <th>Not reached</th>
      <th>Partially reached</th>
      <th>Reached</th>
      <th>Over reached</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @critical_learnings.each do |critical_learning| %>
      <tr>
        <td><%= critical_learning.competency %></td>
        <td><%= critical_learning.level %></td>
        <td><%= critical_learning.description %></td>
        <td><%= critical_learning.number %></td>
        <td><%= critical_learning.not_reached %></td>
        <td><%= critical_learning.partially_reached %></td>
        <td><%= critical_learning.reached %></td>
        <td><%= critical_learning.over_reached %></td>
        <td>
          <%= show_button [@referential, critical_learning] %>
          <%= edit_button [@referential, critical_learning] %>
          <%= destroy_button [@referential, critical_learning] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button Referential::CriticalLearning %>
