<%= content_for :title, 'Apprentissages critiques' %>

<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Compétence</th>
      <th>Niveau</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @critical_learnings.each do |critical_learning| %>
      <tr>
        <td><%= critical_learning %></td>
        <td class="small"><%= simple_format critical_learning.description %></td>
        <td><%= link_to critical_learning.competency, referential_competency_path(@referential, critical_learning.competency) %></td>
        <td><%= link_to critical_learning.level, referential_level_path(@referential, critical_learning.level) %></td>
        <td>
          <%= show_button [@referential, critical_learning] %>
          <%= edit_button [@referential, critical_learning] %>
          <%= destroy_button [@referential, critical_learning] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_critical_learning, new_referential_critical_learning_path(@referential) %>
