<%= simple_form_for(referential) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
      <%= f.input :origin %>
    </div>
    <div class="col-md-8">
      <%= f.input :description %>
    </div>
  </div>
  <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
<% end %>
