<%= simple_form_for(referential) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name,
                  label: 'Nom' %>
      <%= f.input :origin,
                  label: 'Origine' %>
    </div>
    <div class="col-md-8">
      <%= f.input :description %>
    </div>
  </div>
  <%= save_button f %>
  <%= destroy_button referential %>
<% end %>
