<%= content_for :title, 'Référentiels' %>

<div class="row mb-4">
  <% @referentials.each do |referential| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <% if referential.image.attached? && referential.image.variable? %>
          <%= link_to referential do %>
            <%= image_tag referential.image.variant(resize: '600'), class: 'img-fluid' %>
          <% end %>
        <% end %>
        <div class="card-body">
          <h2><%= link_to referential, referential %></h2>
          <p><%= referential.origin %></p>
          <p class="small"><%= referential.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= create_button @new_referential, new_referential_path %>
