<%= content_for :title, 'Référentiels' %>

<div class="row mb-4">
  <% @referentials.each do |referential| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <%= link_to referential do %>
          <% if referential.image.attached? && referential.image.variable? %>
            <%= image_tag referential.image.variant(resize: '600'), class: 'img-fluid' %>
          <% end %>
          <div class="card-body">
            <h2><%= referential %></h2>
            <p class="small"><%= referential.origin %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= create_button @new_referential, new_referential_path %>
