<%= content_for :title, "#{@referential}" %>

<div class="row mt-6 mb-6">
  <div class="col-md-5">
    <% if @referential.image.attached? && @referential.image.variable? %>
      <%= image_tag @referential.image.variant(resize: 1024), class: 'img-fluid mb-4' %>
    <% end %>
  </div>
  <div class="offset-md-1 col-md-6">
    <div class="lead">
      <%= simple_format @referential.description %>
    </div>
    <p class="small"><b>Origine</b> <%= @referential.origin %></p>
    <%= edit_button @referential %>
    <%= link_to 'Visualisation interactive',
                visualize_referential_path(@referential),
                class: button_classes %>
    <% if can? :manage, Referential %>
      <h3 class="mt-5">Responsables</h3>
      <ul class="list-unstyled">
        <% @referential.managers.each do |manager| %>
          <li><%= link_to manager, referential_manager_path(@referential, manager) %></li>
        <% end %>
      </ul>
      <%= create_button @new_manager, new_referential_manager_path(@referential) %>
    <% end %>
  </div>
</div>

<h3 class="mt-5">Compétences</h3>
<%= render 'referentials/competencies/list', competencies: @referential.competencies %>
<%= create_button @new_competency, new_referential_competency_path(@referential) %>

<h3 class="mt-5">Niveaux</h3>
<div class="row mb-4">
  <% @referential.levels.without_competency.each do |level| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4><%= link_to level, referential_level_path(@referential, level) %></h4>
          <div class="small">
            <%= simple_format level.description %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= create_button @new_level, new_referential_level_path(@referential) %>


<h3 class="mt-5">Formations</h3>
<table class="table">
  <% @referential.programs.each do |program| %>
    <tr>
      <td class="pl-0"><%= link_to program, program %></td>
      <td class="small text-right pr-0"><%= program.city %>, <%= program.country_full %></td>
    </tr>
  <% end %>
</table>
