<%= content_for :title, "#{@referential}" %>

<div class="row">
  <div class="col-md-4">
    <h2><%= @referential.origin %></h2>
    <%= simple_format @referential.description %>
    <%= edit_button @referential %>
    <hr>
    <h3>Niveaux</h3>
    <ul class="list-unstyled">
      <% @referential.levels.each do |level| %>
        <li><%= link_to level, level %></li>
      <% end %>
    </ul>
    <%= create_button Level, referential_id: @referential.id %>
  </div>
  <div class="col-md-8">
    <h3>Compétences</h3>
    <div class="row">
      <% @referential.competencies.each do |competency| %>
        <div class="col-md-6 mb-5">
          <hr>
          <%= link_to competency do %>
            <p class="badge badge-primary"><%= competency %></p>
            <h4><%= competency.name %></h4>
            <%= competency.full_description %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= create_button Competency, referential_id: @referential.id %>
  </div>
</div>
