<%= simple_form_for program do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name,
                  label: 'Nom' %>
      <%= f.association :referential,
                  label: 'Référentiel',
                  include_blank: false %>
    </div>
    <div class="col-md-6">
      <%= f.input :country,
                  label: 'Pays',
                  include_blank: false %>
      <%= f.input :city,
                  label: 'Ville' %>
    </div>
  </div>
  <%= save_button f %>
  <%= destroy_button program %>
<% end %>
