<%= content_for :title, "#{@program}" %>

<div class="row">
  <div class="col-md-3">
    <h3>Localisation</h3>
    <p><%= @program.city %>, <%= @program.country_full %></p>
    <%= edit_button @program %>
  </div>
  <div class="col-md-3">
    <h3>Référentiel</h3>
    <p><%= link_to @program.referential, @program.referential %></p>
  </div>
  <div class="col-md-3">
    <h3>Promotions</h3>
    <ul class="list-unstyled">
      <% @program.groups.each do |group| %>
        <li><%= link_to group, program_group_path(@program, group) %></li>
      <% end %>
    </ul>
    <%= create_button Program::Group, program_id: @program.id %>
  </div>
  <div class="col-md-3">
    <h3>Enseignants</h3>
    <ul class="list-unstyled">
      <% @program.teachers.each do |teacher| %>
        <li><%= link_to teacher, program_teacher_path(@program, teacher) %></li>
      <% end %>
    </ul>
    <%= create_button Program::Teacher, program_id: @program.id %>
  </div>
</div>
