<div class="badge badge-light">Compétence</div>
<h2><%= critical_learning.competency %></h2>
<%= simple_format critical_learning.competency.full_description %>

<div class="badge badge-light">Niveau</div>
<h2><%= critical_learning.level %></h2>
<%= simple_format critical_learning.level.description %>

<div class="badge badge-light">Apprentissage critique</div>
<h2><%= critical_learning %></h2>
<%= simple_format critical_learning.description %>
