<div class="badge badge-secondary mb-2">Apprentissage critique</div>
<div class="small"><%= simple_format @evaluation.critical_learning.description %></div>
<div class="badge badge-secondary mb-2">Compétence</div>
<div class="small"><%= simple_format @evaluation.critical_learning.competency.description %></div>
<div class="badge badge-secondary mb-2">Composantes essentielles</div>
<div class="small"><%= simple_format @evaluation.critical_learning.competency.essential_components %></div>
<div class="badge badge-secondary mb-2">Niveau</div>
<div class="small">
  <b><%= simple_format @evaluation.critical_learning.level.name %></b>
  <%= simple_format @evaluation.critical_learning.level.description %>
</div>
