<%
url = evaluation.new_record?  ? user_evaluations_path(@user)
                              : user_evaluation_path(@user, evaluation)
%>
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/publications/meta', publication: @publication %>

      <div class="publication__evaluation bg-light">
        <%= simple_form_for evaluation, url: url do |f| %>
          <%= f.association :publication, as: :hidden %>
          <%= f.association :referential_critical_learning, as: :hidden %>

          <h2 class="h5">Evaluation</h2>
          <%= render 'about' %>

          <h3 class="h5">Critères de recevabilité</h3>
          <%= f.input :completeness_validated, hint: "Tous les aspects de l'apprentissage critique sont couverts par l'étudiant·e." %>
          <%= f.input :completeness_comment %>
          <%= f.input :validity_validated, hint: "Les preuves sont en adéquation avec l'apprentissage critique." %>
          <%= f.input :validity_comment %>
          <%= f.input :authenticity_validated, hint: "Les traces sont incontestables, objectivées, issues du contexte professionnel ou citoyen de l'étudiant·e lui·elle-même." %>
          <%= f.input :authenticity_comment %>

          <h3 class="h5">Critères pédagogiques</h3>
          <%= f.input :depth_validated, hint: "La documentation est riche, les actions peuvent effectivement être jugées efficaces au regard des situations vécues. L'étudiant·e ne se contente pas de montrer qu'il·elle a agi, il·elle analyse également les traces de l'efficacité de ses actions sur le public visé. Cette profondeur couvre toutes les composantes de l'apprentissage critique." %>
          <%= f.input :depth_comment %>
          <%= f.input :extent_validated, hint: "Diversité des situations couvertes: l'efficacité de l'action n'est pas due au hasard, elle apparaît avec évidence dans des contextes pluriels." %>
          <%= f.input :extent_comment %>
          <%= f.input :explanation_comment %>
          <%= f.input :explanation_validated, hint: "Les commentaires sont pertinents, clairs et fondés, bien en lien avec le référentiel, abordant le mobilisable et combinable, parfois scientifiquement documentés (ce critère peut varier en fonction de l'exigence académique du programme)." %>

          <div class="text-right">
            <%= save_button f %>
            <%= destroy_button [@user, evaluation] %>
          </div>
        <% end %>
      </div>

    </div>
    <div class="col-md-8">
      <article class="publication">
        <h1 class="article__title"><%= @publication.title %></h1>
        <div class="publication__content">
          <%= @publication.content.html_safe %>
        </div>
      </article>
    </div>
  </div>
