<p id="notice"><%= notice %></p>

<h1>User Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Publication</th>
      <th>Program teacher</th>
      <th>Completeness validated</th>
      <th>Completeness comment</th>
      <th>Authenticity validated</th>
      <th>Authenticity comment</th>
      <th>Validity validated</th>
      <th>Validity comment</th>
      <th>Depth validated</th>
      <th>Depth comment</th>
      <th>Extent validated</th>
      <th>Extent comment</th>
      <th>Explanation validated</th>
      <th>Explanation comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_evaluations.each do |user_evaluation| %>
      <tr>
        <td><%= user_evaluation.publication %></td>
        <td><%= user_evaluation.program_teacher %></td>
        <td><%= user_evaluation.completeness_validated %></td>
        <td><%= user_evaluation.completeness_comment %></td>
        <td><%= user_evaluation.authenticity_validated %></td>
        <td><%= user_evaluation.authenticity_comment %></td>
        <td><%= user_evaluation.validity_validated %></td>
        <td><%= user_evaluation.validity_comment %></td>
        <td><%= user_evaluation.depth_validated %></td>
        <td><%= user_evaluation.depth_comment %></td>
        <td><%= user_evaluation.extent_validated %></td>
        <td><%= user_evaluation.extent_comment %></td>
        <td><%= user_evaluation.explanation_validated %></td>
        <td><%= user_evaluation.explanation_comment %></td>
        <td><%= link_to 'Show', user_evaluation %></td>
        <td><%= link_to 'Edit', edit_user_evaluation_path(user_evaluation) %></td>
        <td><%= link_to 'Destroy', user_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Evaluation', new_user_evaluation_path %>
