<%= content_for :title, 'Evaluations' %>

<table class="table">
  <thead>
    <tr>
      <th>Evaluation</th>
      <th>Etudiant</th>
      <th>Publication</th>
      <th>Apprentissage critique</th>
      <th>Date</th>
      <th>Validé?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation %></td>
        <td><%= evaluation.publication.user %></td>
        <td width="300" class="small"><%= evaluation.publication %></td>
        <td width="300" class="small"><%= evaluation.critical_learning %></td>
        <td><%= l evaluation.updated_at.to_date, format: :default %></td>
        <td><%= evaluation.validated ? 'Oui' : 'Non' %></td>
        <td>
          <%= show_button [@user, evaluation] %>
          <%= edit_button [@user, evaluation] %>
          <%= destroy_button [@user, evaluation] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
