<%= content_for :title, "#{@evaluation}" %>


<div class="row">
  <div class="col-md-8">
    <article class="publication">
      <h1 class="article__title"><%= link_to @publication.title, user_publication_path(@publication.user, @publication) %></h1>
      <%= render 'users/publications/meta', publication: @publication %>
      <div class="publication__content">
        <%= @publication.content.html_safe %>
      </div>
    </article>
  </div>
  <div class="col-md-4">
    <aside class="evaluation">
      <h1>Evaluation</h1>
      <p>
        Par <%= @evaluation.user %>,
        le <%= l @evaluation.updated_at.to_date, format: :default %>
      </p>
      <%= render 'about', critical_learning: @critical_learning %>

      <hr class="mt-5 mb-5">

      <h2>Critères de recevabilité</h2>

      <h3>
        Complétude :
        <%= @evaluation.completeness_validated ? 'validé' : 'non validé'%>
      </h3>
      <%= simple_format @evaluation.completeness_comment %>

      <h3>
        Validité :
        <%= @evaluation.validity_validated ? 'validé' : 'non validé'%>
      </h3>
      <%= simple_format @evaluation.validity_comment %>

      <h3>
        Authenticité :
        <%= @evaluation.authenticity_validated ? 'validé' : 'non validé'%>
      </h3>
      <%= simple_format @evaluation.authenticity_comment %>

      <hr class="mt-5 mb-5">

      <h2>Critères pédagogiques</h2>

      <h3>
        Profondeur :
        <%= @evaluation.depth_validated ? 'validé' : 'non validé'%>
      </h3>
      <%= simple_format @evaluation.depth_comment %>

      <h3>
        Etendue :
        <%= @evaluation.extent_validated ? 'validé' : 'non validé'%>
      </h3>
      <%= simple_format @evaluation.extent_comment %>

      <h3>
        Explicitation :
        <%= @evaluation.explanation_validated ? 'validé' : 'non validé'%>
      </h3>
      <%= simple_format @evaluation.explanation_comment %>

      <hr class="mt-5 mb-5">

      <h2>
        Apprentissage critique :
        <%= @evaluation.validated ? 'validé' : 'non validé' %>
      </h2>

      <div class="mt-5">
        <%= edit_button [@user, @evaluation] %>
      </div>

    </aside>
  </div>
</div>
