<%= content_for :title, "#{@evaluation}" %>

<div class="publication__evaluation bg-light">
  <h2 class="h5">
    Evaluation de <%= @evaluation.user %>,
    le <%= l @evaluation.updated_at.to_date, format: :default %>
  </h2>
  <div class="row">
    <div class="col-md-6">
      <%= render 'about' %>
    </div>
    <div class="col-md-6">
      <h3 class="h5">Critères de recevabilité</h3>
      <p>
        <%= fa_icon @evaluation.completeness_validated ? 'check-square' : 'square' %>
        <b>Complétude</b> <%= @evaluation.validity_comment %>
      </p>
      <p>
        <%= fa_icon @evaluation.validity_validated ? 'check-square' : 'square' %>
        <b>Validité</b> <%= @evaluation.validity_comment %>
      </p>
      <p>
        <%= fa_icon @evaluation.authenticity_validated ? 'check-square' : 'square' %>
        <b>Authenticité</b> <%= @evaluation.authenticity_comment %>
      </p>

      <hr>

      <h3 class="h5">Critères pédagogiques</h3>
      <p>
        <%= fa_icon @evaluation.depth_validated ? 'check-square' : 'square' %>
        <b>Profondeur</b> <%= @evaluation.depth_comment %>
      </p>
      <p>
        <%= fa_icon @evaluation.extent_validated ? 'check-square' : 'square' %>
        <b>Etendue</b> <%= @evaluation.extent_comment %>
      </p>
      <p>
        <%= fa_icon @evaluation.explanation_validated ? 'check-square' : 'square' %>
        <b>Explicitation</b> <%= @evaluation.explanation_comment %>
      </p>

      <hr>

      <h3 class="">
        <% if @evaluation.validated %>
          <%= fa_icon 'check-square' %>
          Apprentissage critique acquis
        <% else %>
          <%= fa_icon 'square' %>
          Apprentissage critique pas encore acquis
        <% end %>
      </h3>

    </div>
  </div>
  <div class="text-right">
    <%= edit_button [@user, @evaluation] %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-4">
    <%= render 'users/publications/meta', publication: @publication %>
  </div>
  <div class="col-md-8">
    <article class="publication">
      <h1 class="article__title"><%= link_to @publication.title, user_publication_path(@publication.user, @publication) %></h1>
      <div class="publication__content">
        <%= @publication.content.html_safe %>
      </div>
    </article>
  </div>
</div>
