<%= content_for :title, "#{@user}" %>

<div class="row">
  <% if @teacher_in_programs.any? %>
    <div class="col-md-4">
      <h2>Enseignant</h2>
      <ul class="list-unstyled">
        <% @teacher_in_programs.each do |teacher| %>
          <li><%= link_to teacher.program, teacher.program %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @manager_of_referentials.any? %>
    <div class="col-md-4">
      <h2>Responsable de référentiel</h2>
      <ul class="list-unstyled">
      <% @manager_of_referentials.each do |manager| %>
        <li><%= link_to manager.referential, manager.referential %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @publications.any? %>
    <div class="col-md-4">
      <h2>Publications</h2>
      <ul class="list-unstyled">
        <% @publications.each do |publication| %>
          <li><%= link_to publication, user_publication_path(@user, publication) %></li>
        <% end %>
      </ul>
      <%= create_button @new_publication, new_user_publication_path(@user) %>
    </div>
  <% end %>
</div>
<% if @student_in_groups.any? %>
  <h2 class="mt-5">Promotions</h2>
  <% @student_in_groups.each do |student| %>
    <h3><%= student.group.name_with_program %></h3>
    <%= render 'users/students/progression', student: student %>
  <% end %>
<% end %>
