<%= content_for :title, 'Publications' %>

<table class="table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Statut</th>
      <th>Formation</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= render 'users/publications/status', publication: publication %></td>
        <td><%= publication.group.name_with_program %></td>
        <td>
          <%= show_button [@user, publication] %>
          <%= edit_button [@user, publication] %>
          <%= destroy_button [@user, publication] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_publication, new_user_publication_path(@user) %>
