<%= content_for :title, "#{@publication}" %>

<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Promotion</strong><br/>
      <%= @publication.group.name_with_program %>
    </p>
    <p>
      <strong>Publiée</strong><br/>
      <%= @publication.published ? 'Oui' : 'Non' %>
    </p>
    <%= edit_button [@user, @publication] %>
  </div>
  <div class="col-md-8">
    <%= raw @publication.content %>
  </div>
</div>
