<%= content_for :title, "#{@publication}" %>

<article class="publication">
  <div class="row">
    <div class="col-md-4">
      <%= render 'meta', publication: @publication %>
      <%= edit_button [@user, @publication] %>
    </div>
    <div class="col-md-8">
      <div class="publication__content">
        <%= @publication.content.html_safe %>
      </div>
    </div>
  </div>
</article>

<% if can? :evaluate, @publication %>
  <section class="mt-5">
    <h2>Evaluation</h2>

    <div class="table-responsive">
      <table class="progression progression--evaluation">
        <thead>
          <tr>
            <th>Compétences</th>
            <% @referential.levels.without_competency.each do |level| %>
              <th><%= level %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @referential.competencies.each do |competency| %>
            <tr class="progression__competency">
              <td class="progression__competency__name"><%= competency %></td>
              <% @referential.levels.without_competency.each do |level| %>
                <% level_for_competency = level.for_competency(competency) %>
                <td>
                  <% level_for_competency.critical_learnings.each do |critical_learning| %>
                    <div class="mb-4">
                      <% if @user.validated?(critical_learning) %>
                        <span class="badge badge-success">Validé</span>
                      <% else %>
                        <span class="badge badge-secondary">Non validé</span>
                      <% end %>
                      <p class="m-0"><%= critical_learning.description %></p>
                      <ul class="list-unstyled m-0">
                        <% @publication.evaluations.where(referential_critical_learning: critical_learning).each do |evaluation| %>
                          <li>
                            <%= link_to user_evaluation_path(evaluation.user, evaluation) do %>
                              <%= evaluation.validated ? 'Validé' : 'Non validé' %>
                            <% end %>
                            (<%= (evaluation.user == @publication.user) ? 'Auto-évaluation' : evaluation.user %>)
                          </li>
                        <% end %>
                      </ul>
                      <% evaluation = current_user.evaluations.find_by(publication: @publication, referential_critical_learning: critical_learning) %>
                      <% unless evaluation %>
                        <%= link_to 'Evaluer',
                                    new_user_evaluation_path(user_id: current_user, publication_id: @publication, critical_learning_id: critical_learning),
                                    class: button_classes %>
                      <% end %>
                      <hr>
                    </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end%>
        </tbody>
      </table>
    </div>
  </section>
<% end %>
