<%= simple_form_for @competency do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
      <%= f.input :short_name %>
      <%= f.input :position %>
      <%= f.association :referential, as: :hidden %>
    </div>
    <div class="col-md-4">
      <%= f.input :description %>
    </div>
    <div class="col-md-4">
      <%= f.input :details %>
    </div>
  </div>
  <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>
<% end %>
