<%= content_for :title, "#{@competency}" %>


<div class="row">
  <div class="col-md-4">
    <h2><%= @competency.name %></h2>
    <p><%= @competency.full_description %></p>
    <%= link_to 'Modifier',
                edit_competency_path(@competency),
                class: 'btn btn-primary' %>
  </div>
  <div class="col-md-4">
    <h3>Situations professionnelles</h3>
    <ul class="list-unstyled">
      <% @competency.situations.each do |situation| %>
        <li><%= link_to situation, situation %></li>
      <% end %>
    </ul>
    <%= link_to 'Créer une situation professionnelle',
                new_situation_path(competency_id: @competency.id),
                class: 'btn btn-primary' %>
  </div>
  <div class="col-md-4">
  </div>
</div>
