<%= simple_form_for situation,
                    url:  situation.new_record? ? referential_situations_path(@referential)
                            : referential_situation_path(@referential, situation) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :number %>
      <%= f.association :competency,
                        label: 'Compétence',
                        collection: @referential.competencies,
                        include_blank: false %>
    </div>
    <div class="col-md-8">
      <%= f.input :description %>
    </div>
  </div>
  <%= save_button f %>
  <%= destroy_button [@referential, situation] %>
<% end %>
