<%= simple_form_for situation,
                    url:  situation.new_record? ? referential_situations_path(@referential)
                            : referential_situation_path(@referential, situation) do |f| %>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :number %>
    </div>
    <div class="col-md-10">
      <%= f.input :description %>
    </div>
  </div>
  <%= f.association :competency, as: :hidden %>
  <%= save_button f %>
  <%= destroy_button situation %>
<% end %>
