<%= content_for :title, 'Situations' %>

<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Compétence</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.description %></td>
        <td><%= link_to situation.competency, referential_competency_path(@referential, situation.competency) %></td>
        <td>
          <%= show_button [@referential, situation] %>
          <%= edit_button [@referential, situation] %>
          <%= destroy_button [@referential, situation] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button Referential::Situation %>
