<%= content_for :title, 'Situations' %>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Niveau</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation %></td>
        <td><%= link_to situation.level, referential_level_path(@referential, situation.level) %></td>
        <td>
          <%= show_button [@referential, situation] %>
          <%= edit_button [@referential, situation] %>
          <%= destroy_button [@referential, situation] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_situation, new_referential_situation_path(@referential) %>
