<%= simple_form_for level,
                    url:  level.new_record? ? referential_levels_path(@referential)
                            : referential_level_path(@referential, level) do |f| %>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :number %>
    </div>
    <div class="col-md-10">
      <%= f.input :name %>
    </div>
  </div>
  <%= f.association :referential, as: :hidden %>
  <%= save_button f %>
  <%= destroy_button level %>
<% end %>
