<%= content_for :title, 'Niveaux' %>

<table class="table">
  <thead>
    <tr>
      <th>Numéro</th>
      <th>Compétence</th>
      <th>Nom</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= level.number %></td>
        <td><%= link_to level.competency, referential_competency_path(@referential, level.competency) if level.competency %></td>
        <td><%= level.name %></td>
        <td class="small"><%= level.description %></td>
        <td>
          <%= show_button [@referential, level] %>
          <%= edit_button [@referential, level] %>
          <%= destroy_button [@referential, level] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_level, new_referential_level_path(@referential) %>
