<%= content_for :title, 'Niveaux' %>

<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= level.number %></td>
        <td><%= level.name %></td>
        <td>
          <%= show_button [@referential, level] %>
          <%= edit_button [@referential, level] %>
          <%= destroy_button [@referential, level] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_level, new_referential_level_path(@referential) %>
