<%= content_for :title, 'Niveaux' %>

<table class="table">
  <thead>
    <tr>
      <th width="200">Nom</th>
      <th width="200">Compétence</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= link_to level, referential_level_path(@referential, level) %></td>
        <td><%= link_to level.competency, referential_competency_path(@referential, level.competency) if level.competency %></td>
        <td class="small">
          <%= simple_format level.description %>
          <%= edit_button [@referential, level] %>
          <%= destroy_button [@referential, level] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_level, new_referential_level_path(@referential) %>
