<%= content_for :title, @title %>

<div class="row mt-3">
  <% @competencies.each do |competency| %>
    <% @level = competency.level_with_number(@number) %>
    <% next if @level.nil? %>
    <div class="col-md-4 mb-5 mt-4">
      <%= link_to competency.name, referential_competency_path(@referential, competency), class: 'badge badge-primary' %>
      <h2>
        <%= link_to @level.description, referential_level_path(@referential, @level) %>
      </h2>
      <hr>
      <ul class="list-unstyled">
        <% competency.critical_learnings.with_level(@level).each do |critical_learning| %>
          <li>
            <%= link_to critical_learning, referential_critical_learning_path(@referential, critical_learning), class: 'badge badge-primary' %>
            <p>
              <%= critical_learning.description %>
            </p>
          </li>
        <% end %>
      </ul>
      <%= create_button @new_critical_learning, new_referential_critical_learning_path(@referential, competency_id: competency.id, level_id: @level.id) %>
    </div>
  <% end %>
</div>
