<%= content_for :title, "#{@level}" %>

<div class="lead">
  <%= simple_format @level.description %>
</div>
<%= edit_button [@referential, @level] %>

<% if @situations.any? %>
  <h2 class="hcategory">Situations</h2>
  <div class="row mb-1">
    <% @situations.each do |situation| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <p><%= link_to situation, referential_situation_path(@referential, situation) %></p>
          <div class="small">
            <%= simple_format situation.description %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= create_button @new_situation, new_referential_situation_path(@referential, level_id: @level.id) %>
<% end %>

<% if @level.multicompetency? %>
  <h2 class="hcategory">Apprentissages critiques par compétences</h2>
  <% @competencies.each do |competency| %>
    <% level = @level.for_competency(competency) %>
    <%= link_to competency.short_name,
                referential_competency_path(@referential, competency),
                class: 'badge badge-primary mt-5' %>
    <div class="row">
      <div class="col-md-3">
        <h4><%= link_to competency.name, referential_competency_path(@referential, competency) %></h4>
      </div>
      <div class="col-md-9">
        <div class="lead"><i><%= simple_format level.description %></i></div>
        <ul class="list-unstyled">
          <% level.critical_learnings.each do |critical_learning| %>
            <li>
              <%= link_to critical_learning,
                          referential_critical_learning_path(@referential, critical_learning),
                          class: 'badge badge-primary' %>
              <%= simple_format critical_learning.description %>
            </li>
          <% end %>
        </ul>
        <%= create_button @new_critical_learning, new_referential_critical_learning_path(@referential, competency_id: competency.id, level_id: @level.id) %>
      </div>
    </div>
  <% end %>
<% else %>
  <h2 class="hcategory"">Apprentissages critiques</h2>
  <ul class="list-unstyled">
    <% @level.competency.critical_learnings.with_level(@level).each do |critical_learning| %>
      <li>
        <%= link_to critical_learning,
                    referential_critical_learning_path(@referential, critical_learning),
                    class: 'badge badge-primary' %>
        <%= simple_format critical_learning.description %>
      </li>
    <% end %>
  </ul>
<% end %>
