<%= content_for :title, "#{@level}" %>

<div class="row">
  <div class="col-md-4">
    <%= simple_format @level.description %>
    <%= edit_button [@referential, @level] %>
  </div>
  <div class="col-md-4">
    <h2>Situations</h2>
    <ul class="list-unstyled">
      <% @situations.each do |situation| %>
        <li>
          <p><%= link_to situation, referential_situation_path(@referential, situation) %></p>
          <div class="small">
            <%= simple_format situation.description %>
          </div>
        </li>
      <% end %>
    </ul>
    <%= create_button @new_situation, new_referential_situation_path(@referential, level_id: @level.id) %>
  </div>
</div>


<h2 class="mt-5">Apprentissages critiques par compétences</h2>

<div class="row mt-3">
  <% @competencies.each do |competency| %>
    <div class="col-md-4 mb-5">
      <hr>
      <p class="badge badge-primary"><%= competency %></p>
      <p><b><%= link_to competency.name, referential_competency_path(@referential, competency) %></b></p>
      <ul class="list-unstyled">
        <% competency.critical_learnings.with_level(@level).each do |critical_learning| %>
          <li>
            <p><%= link_to critical_learning, referential_critical_learning_path(@referential, critical_learning) %></p>
            <div class="small">
              <%= simple_format critical_learning.description %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= create_button @new_critical_learning, new_referential_critical_learning_path(@referential, competency_id: competency.id, level_id: @level.id) %>
    </div>
  <% end %>
</div>
