<%= simple_form_for(level) do |f| %>
  <div class="row">
    <div class="col-md-2">
      <%= f.input :number %>
    </div>
    <div class="col-md-10">
      <%= f.input :name %>
    </div>
  </div>
  <%= f.association :referential, as: :hidden %>
  <%= save_button f %>
  <%= destroy_button level %>
<% end %>
