
<%= simple_form_for(@critical_learning) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :competency %>
    <%= f.association :level %>
    <%= f.input :description %>
    <%= f.input :number %>
    <%= f.input :not_reached %>
    <%= f.input :partially_reached %>
    <%= f.input :reached %>
    <%= f.input :over_reached %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
