<p id="notice"><%= notice %></p>

<p>
  <strong>Competency:</strong>
  <%= @critical_learning.competency %>
</p>

<p>
  <strong>Level:</strong>
  <%= @critical_learning.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @critical_learning.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @critical_learning.number %>
</p>

<p>
  <strong>Not reached:</strong>
  <%= @critical_learning.not_reached %>
</p>

<p>
  <strong>Partially reached:</strong>
  <%= @critical_learning.partially_reached %>
</p>

<p>
  <strong>Reached:</strong>
  <%= @critical_learning.reached %>
</p>

<p>
  <strong>Over reached:</strong>
  <%= @critical_learning.over_reached %>
</p>

<%= link_to 'Edit', edit_critical_learning_path(@critical_learning) %> |
<%= link_to 'Back', critical_learnings_path %>
