<%= simple_form_for resource,
                    url:  resource.new_record? ? referential_resources_path(@referential)
                            : referential_resource_path(@referential, resource) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
    </div>
    <div class="col-md-8">
      <%= f.input :description %>
    </div>
  </div>
  <%= f.association :competency, as: :hidden %>
  <%= save_button f %>
  <%= destroy_button [@referential, resource] %>
<% end %>
