<%= content_for :title, 'Ressources' %>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Compétence</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.competency %></td>
        <td>
          <%= show_button [@referential, resource] %>
          <%= edit_button [@referential, resource] %>
          <%= destroy_button [@referential, resource] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_resource, new_referential_resource_path(@referential) %>
