<% competencies.each do |competency| %>
  <div class=" mt-5">
    <%= link_to referential_competency_path(@referential, competency) do %>
      <p class="badge badge-primary"><%= competency %></p>
    <% end %>
    <div class="row">
      <div class="col-md-3">
        <%= link_to referential_competency_path(@referential, competency) do %>
          <h4><%= competency.name %></h4>
        <% end %>
        <%= edit_button [@referential, competency] %>
        <%= destroy_button [@referential, competency] %>
      </div>
      <div class="col-md-3">
        <%= competency.description %>
      </div>
      <div class="col-md-6">
        <i><%= simple_format competency.essential_components %></i>
      </div>
    </div>
  </div>
  <hr class="mt-5">
<% end %>
