<%= content_for :title, 'Compétences' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Short name</th>
      <th>Description</th>
      <th>Number</th>
      <th>Referential</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @competencies.each do |competency| %>
      <tr>
        <td><%= competency.name %></td>
        <td><%= competency.short_name %></td>
        <td><%= competency.description %></td>
        <td><%= competency.number %></td>
        <td><%= competency.referential %></td>
        <td>
          <%= show_button [@referential, competency] %>
          <%= edit_button [@referential, competency] %>
          <%= destroy_button [@referential, competency] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button Referential::Competency %>
