<%= content_for :title, "#{@competency}" %>

<div class="row">
  <div class="col-md-4">
    <h2><%= @competency.name %></h2>
    <p><%= @competency.full_description %></p>
    <%= edit_button [@referential, @competency] %>
  </div>
  <div class="col-md-4">
    <h3>Situations professionnelles</h3>
    <ul class="list-unstyled">
      <% @competency.situations.each do |situation| %>
        <li><%= link_to situation, referential_situation_path(@referential, situation) %></li>
      <% end %>
    </ul>
    <%= create_button @new_situation, new_referential_situation_path(@referential, competency_id: @competency) %>
  </div>
  <div class="col-md-4">
    <h3>Ressources</h3>
    <ul class="list-unstyled">
      <% @competency.resources.each do |resource| %>
        <li><%= link_to resource, referential_resource_path(@referential, resource) %></li>
      <% end %>
    </ul>
    <%= create_button @new_resource, new_referential_resource_path(@referential, competency_id: @competency) %>
  </div>
</div>

<h3 class="mt-5">Apprentissages critiques</h3>

<table class="table table-bordered mt-3">
  <thead>
    <tr>
      <% @competency.referential.levels.each do |level| %>
        <th><%= level %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @competency.referential.levels.each do |level| %>
        <td>
          <ul class="list-unstyled">
            <% @competency.critical_learnings.with_level(level).each do |critical_learning| %>
              <li><%= link_to critical_learning, referential_critical_learning_path(@referential, critical_learning) %></li>
            <% end %>
          </ul>
          <%= create_button @new_critical_learning, new_referential_critical_learning_path(@referential, competency_id: @competency.id, level_id: level.id) %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
