<%= content_for :title, "#{@competency}" %>

<h2 class="mt-5"><%= @competency.name %></h2>
<div class="row mt-5">
  <div class="col-md-6">
    <p class="lead"><%= @competency.description %></p>
    <%= edit_button [@referential, @competency] %>
    <%= link_to 'Visualisation interactive', visualize_referential_competency_path(@referential, @competency), class: button_classes %>
  </div>
  <div class="col-md-6">
    <i><%= simple_format @competency.essential_components %></i>
  </div>
</div>

<% if @competency.situations.any? %>
  <h2 class="hcategory">Situations</h2>
  <%= render 'referentials/situations/list', situations: @competency.situations %>
  <%= create_button @new_situation, new_referential_situation_path(@referential, competency_id: @competency.id) %>
<% end %>

<h2 class="hcategory">Apprentissages critiques par niveaux</h2>
<% @levels.each do |level| %>
  <div class="row mt-5">
    <div class="col-md-3">
      <h3><%= link_to level, referential_level_path(@referential, level) %></h3>
    </div>
    <div class="col-md-9">
      <div class="lead"><i><%= simple_format level.description %></i></div>
      <ul class="list-unstyled">
        <% @competency.critical_learnings.with_level(level).each do |critical_learning| %>
        <li>
          <%= link_to critical_learning, referential_critical_learning_path(@referential, critical_learning), class:'badge badge-primary' %>
          <span class="pull-right">
            <%= edit_button [@referential, critical_learning] %>
            <%= destroy_button [@referential, critical_learning] %>
          </span>
          <%= simple_format critical_learning.description %>
        </li>
        <% end %>
      </ul>
      <%= create_button @new_critical_learning, new_referential_critical_learning_path(@referential, competency_id: @competency.id, level_id: level.id) %>
    </div>
  </div>
<% end %>

<h2 class="hcategory">Ressources</h2>
<div class="row">
  <% @competency.resources.each do |resource| %>
    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <%= link_to resource, referential_resource_path(@referential, resource) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= create_button @new_resource, new_referential_resource_path(@referential, competency_id: @competency) %>
