<nav class="navbar navbar-expand-md navbar-dark static-top">
  <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'logo-white.svg' %></a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to 'Référentiels', referentials_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Formations', programs_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Utilisateurs', users_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Mon compte', edit_user_registration_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'nav-link' %>
        </li>

      <% end %>
    </ul>
  </div>
</nav>
