<%= content_for :title, 'Promotions' %>

<table class="table">
  <thead>
    <tr>
      <th>Année de sortie</th>
      <th>Etudiants</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.year %></td>
        <td><%= group.students.confirmed.count %></td>
        <td>
          <%= show_button [@program, group] %>
          <%= edit_button [@program, group] %>
          <%= destroy_button [@program, group] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= create_button @new_group, new_program_group_path(@program) %>
