<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= yield :description %>">
    <title><%= yield :title %> • Ars Praxis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </head>
  <body <% if @referential && @referential.image.attached? && @referential.image.variable? %>
      style="background-image: url('<%= url_for @referential.image.variant(resize: '1920', quality: 80) %>') !important;"
    <% end %>>
    <%= render 'application/nav' %>
    <%= render 'application/jumbotron' %>
    <main>
      <div class="container">
        <%= render 'application/breadcrumb' %>
        <%= render 'application/notice' %>
        <%= yield %>
        <p class="small text-muted text-center mt-5">Ars Praxis est un prototype en cours d'élaboration.</p>
      </div>
    </main>
    <%= render 'application/footer' %>
  </body>
</html>
