<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= yield :description %>">
    <title><%= yield :title %> • Ars Praxis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>
  <body <% if @referential && @referential.image.attached? && @referential.image.variable? %>
      style="background-image: asset-url('<%= url_for @referential.image.variant(resize: '1920', quality: 80) %>') !important;"
    <% end %>>
    <%= render 'application/nav' %>
    <%= render 'application/jumbotron' %>
    <main>
      <div class="container">
        <%= render 'application/breadcrumb' %>
        <%= render 'application/notice' %>
        <%= yield %>
        <p class="small text-muted text-center mt-5">Ars Praxis est un prototype en cours d'élaboration.</p>
      </div>
    </main>
    <%= render 'application/footer' %>
  </body>
</html>
